<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>843771906249-k1hvheoh0loc408h8gr2ar1e7v18b9sg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.843771906249-k1hvheoh0loc408h8gr2ar1e7v18b9sg</string>
	<key>API_KEY</key>
	<string>AIzaSyDo838kjAw1yQP_dbVn9g07rzjyGfG3NPg</string>
	<key>GCM_SENDER_ID</key>
	<string>843771906249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>adam.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>todo-list-49dac</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-49dac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:843771906249:ios:33cb69dc1647bc6c</string>
	<key>DATABASE_URL</key>
	<string>https://todo-list-49dac.firebaseio.com</string>
</dict>
</plist>